{% extends "includes/base.html" %}

{% load widget_tweaks %}

{% block content %}
<div class="container">
<div class="content">

	
	
	<div class="col-md-6 col-md-offset-3">

		{% if form.errors %}
		<p>Your username and password didn't match. Please try again.</p>
		{% endif %}


		{{ logoutmessage }}

		<div class="panel panel-default">
			<div class="panel-heading"><h4>SIGN IN</h4></div>
			<div class="panel-body">
				<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
					{% csrf_token %}

					<div class="form-group">
						{{ form.username.label_tag }}
						{{ form.username|attr:"autocomplete:on"|add_class:"form-control loginfield"}}
					</div>
					<div class="form-group">
						{{ form.password.label_tag }}
						{{ form.password|attr:"autocomplete:off"|add_class:"form-control loginfield"}}
					</div>

					<input type="submit" class="btn btn-lg btn-success" value="Sign In" />
					<input type="hidden" name="next" value="{{ next }}" />
				</form>
			</div>
		</div>
	</div>

</div>
</div>

{% endblock %}