
{% extends "includes/base.html" %}
{% load staticfiles %}

{% block content %}

<div id="headerwrap">

  <div class="container">
    <div class="row">

      <div class="col-lg-6">
         <h1>Automated Check-In<br/>for Fitness Centers</h1>
         <form class="form-inline" role="form">
           <div class="form-group">
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter your email address">
          </div>
          <button type="submit" class="btn btn-warning btn-lg">Request Demo</button>
        </form>					
      </div>

    </div>
  </div>
</div>

<div class="container">

 <div class="row mt centered">
  <div class="col-lg-6 col-lg-offset-3">
   <h1>A Hassle-Free Check-In System</h1>
   <h3>Express allows your members to check-in by walking through the door</h3>
 </div>
</div>

<div class="row mt centered">
  <div class="col-lg-4">
   <img src="{% static "img/ser01.png" %}" width="180" alt="">
   <h4>Real-Time Traffic Updates</h4>
   <p>Your gym members will get real-time traffic stats for your gym, reducing crowdedness during peak hours</p>
 </div>

 <div class="col-lg-4">
   <img src="{% static "img/ser02.png" %}" width="180" alt="">
   <h4>Valuable Membership Data</h4>
   <p>We'll integrate our admin application with your existing systems to provide valuable traffic and membership insights to managers</p>

 </div>

 <div class="col-lg-4">
   <img src="{% static "img/ser03.png" %}" width="180" alt="">
   <h4>Gym Member Engagement</h4>
   <p>Users can use the mobile app to track visits over time and create personal milestones</p>

 </div>
</div>

</div>

<div class="phonefeatures" style="background-color:#e9e9e9">
  <div class="container">
    <div class="row">
      
      <div class="col-lg-4 phonescreen">
        <img src="{% static "img/nexus5_mockup.png" %}" width="250" alt="">
      </div>

      <div class="col-lg-8 phonedescription">

        <h4>Track Your Personal Stats</h4>
        <p>Stay on top of your fitness goals by creating fitness goals and receiving alerts for approaching deadlines</p>
        
        <h4>Plan Your Gym Trips Ahead of Time</h4>
        <p>Real-time traffic data for your gym is always available, allowing you to plan your vists accordingly</p>
        
        <h4>Available for Android/iOS</h4>
        <p>
            Express is available for Bluetooth LE compatible phones running Android 4.3+ or iOS 7.0+<br/>
            <img src="{% static "img/appstorelink.png" %}" width="150" alt="" class="appstorelink">
            <img src="{% static "img/googleplaylink.png" %}" width="150" alt="" class="appstorelink">
        </p>
        
      </div>

    </div>
  </div>
</div>


<div class="container footer">

  <p class="centered">  
    <a href="#" target="_blank" class="socialmedia facebook"/></a>
    <a href="#" target="_blank" class="socialmedia twitter"/></a>
    <a href="#" target="_blank" class="socialmedia linkedin"/></a>
    <br/>
    Copyright © 2014 Express
  </p>
  
</div>

{% endblock %}

